@charset "UTF-8";

#header{
	padding: 200px, 10px !important
}


h2 {
	align: center !important;
	color: black;
}
.centro{
	align: center;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

